@{
    Layout = null;
    var rand = @ViewData["Rand"] as WebSS.Services.Pass;
}

<!doctype html>
<html>
<head>
    <title>Home Page</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" type="text/css" href="~/css/StyleSheet.css" />
</head>
<body>
    <header>
        <p>Web</p>
        <p><a href="/Home">Home</a></p>
    </header>
    <div class="main">
        <h1>PassUsingViewData</h1>
        <p class="navbar-brand">
            <b>Rand Value First: @rand.f</b>
        </p>
        <p>
            <b>Rand Value Second: @rand.s</b>
        </p>
        <p>
            <b>Add:</b>
        </p>
        <p> @rand.f + @rand.s = @rand.add()</p>
        <p>
            <b>Sub:</b>
        </p>
        <p> @rand.f - @rand.s = @rand.sub()</p>
        <p>
            <b>Mult:</b>
        </p>
        <p> @rand.f * @rand.s = @rand.mult()</p>
        <p>
            <b>Div:</b>
        </p>
        <p> @rand.f / @rand.s = @rand.div()</p>
        </div>
        <footer>
            <hr />
            <p>© @DateTime.Now.ToString("yyyy") - Web</p>
        </footer>
</body>
</html>